@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-earth-50 text-earth-900 dark:bg-gray-900 dark:text-gray-100;
  }
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
